{{!-- <span class='flexrow'>
  <div class='char-img-container'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      alt='{{actor.name}}'
    />
  </div>
  <div class='advances'>
    <header class='section-header'>{{localize 'SWADE.Adv'}}</header>
    {{editor
      content=data.data.advances.details
      target='data.advances.details'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</span>
<div class='biography'>
  <header class='section-header'>{{localize 'SWADE.Biography'}}</header>
  {{editor
    content=data.data.details.biography.value
    target='data.details.biography.value'
    button=true
    owner=owner
    editable=editable
  }}
</div> --}}
{{#*inline "expandedAdvances"}}
  <ul>
    <li class="form-group advance">
      <div>{{localize "Type"}}</div>
      <div>{{localize "SWADE.Rank"}}</div>
      <div>{{localize "SWADE.Notes"}}</div>
    </li>
    {{#each advances}}
    <li class="form-group">
      <div>{{advanceType type}}</div>
      <div>{{rank}}</div>
      <div>{{enrich notes}}</div>
    </li>
    {{/each}}
  </ul>
{{/inline}}

<nav class='about-tabs sub-tabs' data-group='about'>
  <a
    class='item section-header active'
    data-tab='advances'
    data-group='about'
  >{{localize 'SWADE.Adv'}}</a>
  <a
    class='item section-header'
    data-tab='biography'
    data-group='about'
  >{{localize 'SWADE.Biography'}}</a>
  <a class='item section-header' data-tab='notes' data-group='about'>{{localize
      'SWADE.Notes'
    }}</a>
</nav>
<section class='about-body'>
  <section class='tab advances active' data-group='about' data-tab='advances'>
    {{#if (eq data.data.advances.mode "expanded")}}
      {{> expandedAdvances advances=data.data.advances.list}}
    {{else}}
      {{editor
        content=data.data.advances.details
        target='data.advances.details'
        button=true
        owner=owner
        editable=editable
      }}
    {{/if}}
  </section>
  <section class='tab biography' data-group='about' data-tab='biography'>
    {{editor
      content=data.data.details.biography.value
      target='data.details.biography.value'
      button=true
      owner=owner
      editable=editable
    }}
  </section>
  <section class='tab notes' data-group='about' data-tab='notes'>
    <p>Notes</p>
  </section>
</section>